/* body reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
/* main  structure  */
.main {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: row;
}

.js-shows {
  list-style: none;
}

.js-favorites {
  list-style: none;
}
.js-fabMark {
border-color: aquamarine;
border: solid 2px;
}

/* borders & background-color for further playing purposes */


